@model Product

<!-- This is a PARTIAL VIEW. A fragment of content that you can embed into another view, rather like a template. -->
<div class="well">
    <h3>
        <strong>@Model.Name</strong>
        <span class="pull-right label label-primary">
            @Model.Price.ToString("c")
        </span>
    </h3>
    <span class="lead">@Model.Description</span>
</div>